header .container {
  height: 100px;
}

header {
  background-color: #2b3f43;
}

header h1 {
  font-size: 24px;
  color: white;
  font-weight: normal;
}

.header-btn {
  background-color: #5fb2c1;
  border-color: #5fb2c1;
}

.crousel-section {
}

.indicator-list {
  list-style: none;
  padding: 10px;
}
